.btn {
    font-style: oblique;
    font-weight: bold;
    width:300px;
    margin-bottom: 10px;
}
#particles-js {
    /* to set bubbles on whole page use fixed */
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

}
